* {
  list-style: none;
  text-decoration: none;
}
.red {
  background-color: palevioletred;
}
#booLogo {
  width: 500px;
  margin-top: 30px;
  margin-bottom: 50px;
}

input {
  width: 50%;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 50px;
}

.input > button {
  height: 50px;
  margin-left: 20px;
  border-radius: 10px;
}

.output {
  background-color: #f6f7f7;
  border-radius: 10px;
}

.output li {
  border-bottom: 1px solid lightgrey;
  width: 800px;
  display: flex;
  justify-content: space-between;
}

#delButton {
  /* position: fixed;
  right: 255px; */
}

.fa {
  color: black;
}
